{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="well text-center">
        <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}
