/app/config/parameters.yml
/bin/*
!/bin/console
!/bin/symfony_requirements
/docker/*
!/docker/nginx.conf
!/docker/upload.conf
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/
/web/bundles/
behat.yml
composer.lock
docker-compose.yml
.php_cs.cache
