/app/config/parameters.yml
/docker
!/docker/nginx.conf
!/docker/upload.conf
/node_modules
/var
!var/SymfonyRequirements.php
/vendor
/web/assets
/web/bundles
/web/config.php
behat.yml
composer.lock
docker-compose.yml
package-lock.json
.php_cs.cache
yarn.lock
