version: '2'

services:
  node:
    image: node:8
    user: node
    volumes:
      - ./:/srv/application
      - ~/.npm:/home/node/.npm
    working_dir: /srv/application
    networks:
      - user-bundle

  fpm:
    image: akeneo/fpm:7.1
    depends_on:
      - mysql
    environment:
      COMPOSER_HOME: /home/docker/.composer
      PHP_IDE_CONFIG: 'serverName=user-bundle-cli'
      PHP_XDEBUG_ENABLED: 0
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'
    user: docker
    volumes:
      - ./:/srv/application
      - ~/.composer:/home/docker/.composer
    working_dir: /srv/application
    networks:
      - user-bundle

  nginx:
    image: nginx
    depends_on:
      - fpm
    environment:
      PHP_IDE_CONFIG: 'serverName=user-bundle'
    ports:
      - '8080:80'
    volumes:
      - ./:/srv/application
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/upload.conf:/etc/nginx/conf.d/upload.conf
    networks:
      - user-bundle

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=user_bundle
      - MYSQL_PASSWORD=user_bundle
      - MYSQL_DATABASE=user_bundle
    ports:
      - '3306:3306'
    networks:
      - user-bundle

networks:
  user-bundle: ~
