parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     user_bundle
    database_user:     user_bundle
    database_password: user_bundle

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    carcel_user_mailer_address: your.address@your.domain
